@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,800|Lora:400italic);

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: '';
}

.clearfix:after {
	clear: both;
}

body {
	background: #fff;
	color: #1f1c20;
	font-family: 'Raleway', Arial, sans-serif;
	width: 100vw;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

a {
	outline: none;
	/*color: #cf4a5c;*/
	color: #3f51b5;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #1f1c20;
}

button:focus {
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Text Content */
.text-content{
	font-weight: 400;
	font-size: 22px;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
}

.text-header{
		font-family: 'Poppins', sans-serif;
}

/* Top Navigation Style */

.eric-navs {
	padding: 0 0 1em;
}

.eric-navs a {
	font-weight: 800;
	text-transform: uppercase;
	font-size: 0.6em;
	letter-spacing: 1px;
	padding: 0.3em 0;
	display: inline-block;
	opacity: 0.7;
	margin: 0 0.5em;
	white-space: nowrap;
	/*color: #cf4a5c;*/
	color: #3f51b5;
	font-family: 'Poppins', sans-serif;
}

.eric-navs a:hover,
.eric-navs a.current-page {
	opacity: 1;
	color: #1f1c20;
}

.eric-navs a.current-page {
	border-bottom: 3px solid #69606b;
}

@media screen and (min-width: 1000px) {
	.eric-navs a {
		font-size: .8em;
	}
}

.contact-footer {
	padding: 3em 0;
	text-align: center;
	font-size: 1.5em;
	position: relative;
}

.contact-footer a {
	padding: 1em 1em;
}

/* Content */

.grid--content {
	padding: 1em 0 3em;
	max-width: 1080px;
	margin: 0 auto;
}

/* Related demos */
.grid--content--footer {
	text-align: center;
	font-weight: bold;
	padding: 0 1em;
}

/*Media*/
@media screen and (max-width: 40em) {
	.contact-footer {
		font-size: 80%;
	}
}
