:root {
  font-size: 16px;
  --color-text: #F6F9F9;
  --color-text-dark: #131416;
  --color-text-grey: #D9DCDE;
  --color-bg: #131416;
  --color-bg-grey: #212427;
  --color-bg-light: #F6F9F9;
  --color-highlight-1: #44C0C9;
  --color-highlight-2: #ED8923;
  --color-link: #F6F9F9;
  --color-link-current: #44C0C9;
  --color-link-hover: #ED8923;
}

html,
body {
  background: #EFF3F4;
  font-family: 'Poppins', serif;
}

.footer {
  background: #EFF3F4;
  padding: 1.5em 1.5em 1.5em 1.5em;
}

.hero {
  background-color: var(--color-bg);
}

.hero.landing {
  background: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url('../img/IMG_20161217_132125\ 1.png') no-repeat center center fixed;
  background-size: cover;
}

.hero.is-about {
  background: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)) no-repeat center 30% fixed;
  background-size: cover;
}

.is-about-me-image {
  background: url('../img/Eric VR.jpg')no-repeat center 25% scroll;
  background-size: cover;
  height: 50em;
}

.hero__image__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: grid;
  z-index: 100;
  pointer-events: none;
  height: 100vh;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas: "header" "footer";
  grid-gap: 1rem;
  align-content: space-between;
}

.hero__image__overlay__footer {
  grid-area: footer;
  justify-self: end;
  align-self: end;
  align-items: center;
}

.caption__holder {
  display: flex;
  text-align: right;
  flex-direction: column;
}

.caption__text {
  color: var(--color-text-grey);
  font-weight: 200;
  font-size: 12px;
  text-align: right;
}

@media screen and (min-width: 769px) {
  .is-about-me-image {
    background: linear-gradient(90deg,
        #EFF3F4,
        rgba(0, 0, 0, 0) 30%,
        rgba(0, 0, 0, 0)), url('../img/Eric VR.jpg')no-repeat center center scroll;
    background-size: cover;
    height: 50em;
  }
}

.hero.is-info .navbar-menu {
  background-color: transparent;
}

.hero.is-info a.navbar-item:hover,
.hero.is-info a.navbar-item.is-active,
.hero.is-info .navbar-link:hover,
.hero.is-info .navbar-link.is-active {
  background-color: transparent;
  color: #fff;
}

.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.hero .subtitle {
  padding: 3rem 0;
  line-height: 1.5;
}

.hero.is-info .navbar-item,
.hero.is-info .navbar-link {
  color: rgba(255, 255, 255, 1);
}

.travel__photography {
  text-decoration: line-through;
}

.contact-footer {
	padding: 2rem 0;
	text-align: center;
	font-size: 1.5rem;
	position: relative;
  font-family: "Poppins", serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-footer a {
	padding: 1rem 1rem;
  margin-top: 2rem;
}

.contact-footer__links>a {
  color: var(--color-bg-grey);
  transition: all 0.3s;
}

.contact-footer__links>a:hover {
  color: var(--color-highlight-2);
}

@media screen and (min-width: 1024px) {
  .navbar-dropdown.is-transparent {
    background: rgba(0, 0, 0, 0.5);
    /* opacity: 0.5 */
  }

  .huge {
    font-size: 3em
  }

  .large {
    font-size: 1.5em
  }
}

.navbar-dropdown.is-left {
  left: auto;
}

.navbar-item {
  font-family: 'Poppins', serif;
}



/*  Hero Hero  */

.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.sandbox {
  padding: 2rem 0;
}

.tile.notification {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#head-title {
  color: var(--color-highlight-1);
}

.action {
  color: var(--color-bg);
}