html,body {
  background: #EFF3F4;
  font-family: 'Poppins', serif;
}
.footer {
  background: #EFF3F4;
  padding: 1.5em 1.5em 1.5em 1.5em;
}
.hero.is-info {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('https://unsplash.it/1200/900?random') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero.is-about {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ) no-repeat center 30% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.is-about-me-image{
  background: url('../img/Eric VR.jpg')no-repeat center 25% scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 50em;
}
@media screen and (min-width: 769px){
  .is-about-me-image{
    background: linear-gradient(
        90deg,
        #EFF3F4,
        rgba(0, 0, 0, 0) 30%,
        rgba(0, 0, 0, 0)
      ), url('../img/Eric VR.jpg')no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 50em;
  }
}
.hero.is-info .navbar-menu {
    background-color: transparent;
}
.hero.is-info a.navbar-item:hover, .hero.is-info a.navbar-item.is-active, .hero.is-info .navbar-link:hover, .hero.is-info .navbar-link.is-active {
    background-color: transparent;
    color: #fff;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.hero .subtitle {
  padding: 3rem 0;
  line-height: 1.5;
}
.hero.is-info .navbar-item, .hero.is-info .navbar-link {
    color: rgba(255, 255, 255, 1);
}
@media screen and (min-width: 1024px){
  .navbar-dropdown.is-transparent {
    background: rgba(0, 0, 0, 0.5);
    /* opacity: 0.5 */
  }
  .huge {
    font-size: 3em
  }
  .large {
    font-size: 1.5em
  }
}
.navbar-dropdown.is-left {
  left: auto;
}


/*  Hero Hero  */

.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.sandbox {
  padding: 2rem 0;
}
.tile.notification {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#head-title {
  color: rgba(160, 255, 160, 1);
}
