*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	--color-text: #F6F9F9;
  --color-text-dark: #131416;
  --color-text-grey: #D9DCDE;
	--color-bg: #131416;
  --color-bg-grey: #212427;
  --color-bg-light: #F6F9F9;
  --color-highlight-1:#44C0C9;
  --color-highlight-2:#ED8923;
	--color-link: #F6F9F9;
	--color-link-current: #44C0C9;
	--color-link-hover: #ED8923;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
	transition: all 0.5s ease;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  min-height: 90vh;
  display: grid;
  place-items: center;
  margin: 0 auto;
  position: relative;
  font-family: "DM Sans", Helvetica, Arial, sans-serif;
}

.intro__wrapper {
  padding: 2rem;
  width: 100%;
}

.intro__content {
  display: grid;
  grid-template-columns: auto 1fr;
	grid-gap: 4rem;
}

.title__container {
  background-color: var(--color-bg);
  /* border: 4px #1b1b1b solid; */
  /* padding: 1rem 2rem; */
  /* box-shadow: 1rem 1rem 0 #44C0C9; */
  /* margin-bottom: 1rem; */
  /* margin-right: 1rem; */
  height: fit-content;
}

.title {
  font-weight: 700;
  font-size: 5rem;
  margin: 0;
  color: var(--color-text);
}

.description__wrapper {
  display: flex;
  align-items: center;
}

.description {
  color: var(--color-text);
  font-family: "Source Serif 4", serif;
  font-weight: 600;
  font-size: 1.5rem;
  height: fit-content;
  padding-left: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-left: var(--color-highlight-1) 2px solid;
}

.nav__wrapper {
  display: grid;
  grid-gap: 2rem;
  align-content: space-between;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: 'wordmark nav navright';
  width: 100%;
  position: sticky;
  top: 0;
  padding: 2rem;
  background-color: var(--color-bg);
  z-index: 1;
}

.wordmark {
	display: flex;
	align-items: flex-end;
  margin: 0;
	font-weight: 400;
  font-size: 1rem;
  grid-area: wordmark;
}

.wordmark strong {
	font-weight: 700;
}

.nav {
	display: flex;
  column-gap: 1rem;
  grid-area: nav;
}

a.nav__link {
  font-weight: 400;
}

a.nav__link:hover {
  font-weight: 700;
}

a.nav__link__current {
  text-decoration: underline;
	text-decoration-color: var(--color-link-current);
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: none;
}

a.nav__link__current:hover {
  color: var(--color-link-hover);
	text-decoration-color: var(--color-link-hover);
}

.nav__right {
  grid-area: navright;
  justify-self: end;
  justify-content: end;
}

.bodies_of_work__wrapper {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-row-gap: 4rem;
}

.work__wrapper {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
}

.work__wrapper.left {
  grid-template-columns: 8fr 4fr;
  grid-template-areas: "workcontent nullspace";
}

.work__wrapper.right {
  grid-template-columns: 4fr 8fr;
  grid-template-areas: "nullspace workcontent";
  margin-left: -1rem;
}

.work {
  grid-area: workcontent;
  display: grid;
  grid-row-gap: 1rem;
  position: relative;
  height: fit-content;
  align-items: start;
}

.work__intro {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.work__title {
  background-color: var(--color-bg-grey);
  color: var(--color-highlight-1);
  width: fit-content;
  height: fit-content;
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  /* text-decoration: underline; */
  /* text-decoration-color: var(--color-highlight-1); */
}

.work__description {
  background-color: var(--color-bg-grey);
  color: var(--color-text-grey);
  width: fit-content;
  height: fit-content;
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.work__media {
  height: auto;
  width: 100%;
  opacity: 1;
  border: var(--color-bg) 4px solid;
  box-shadow: 1rem 1rem 0 var(--color-highlight-1);
}

.work__media > img  {
  width: 100%;
  height: 100%;
  max-height: 800px;
  object-fit: cover;
  display: block;
}

.iframe__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
}

.iframe__wrapper > iframe  {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media screen and (max-width: 50em) { 
  .intro__content {
    grid-template-columns: auto;
    grid-gap: 1rem;
  }

  .title {
    font-size: 3rem;
  }


  .description {
    font-weight: 600;
    font-size: 1.3rem;
    height: fit-content;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-left: var(--color-highlight-1) 2px solid;
  }
  
  .bodies_of_work__wrapper {
    grid-row-gap: 8rem;
  }

  .work__wrapper.left {
    grid-template-columns: 6fr 6fr;
    grid-template-areas: "workcontent workcontent";    
    margin-left: -1rem;
  }
  
  .work__wrapper.right {
    grid-template-columns: 6fr 6fr;
    grid-template-areas: "workcontent workcontent";
    margin-left: -1rem;
  }
}