<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Eric Chan</title>
		<meta name="description" content="Eric Chan's Portfolio" />
		<meta name="keywords" content="Eric Chan Portfolio" />
		<meta name="author" content="Eric Chan" />
		<link rel="shortcut icon" href="favicon.ico">
		<link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script>
		document.documentElement.className = 'js';
		</script>
	</head>
	<body class="landing">
		<main>
			<!-- Initial markup -->
			<div class = "nameplate">
				<div class="segmenter" style="background-image: url(img/desklowres.jpg)"></div>
				<h2 class="trigger-headline trigger-headline--hidden"><span>E</span><span>r</span><span>i</span><span>c</span><span>C</span><span>h</span><span>a</span><span>n</span></h2>
			</div>
		</main>
		<script src="js/anime.min.js"></script>
		<script src="js/imagesloaded.pkgd.min.js"></script>
		<script src="js/main.js"></script>
		<script>
		(function() {
			console.log(anime.easings)
			var headline = document.querySelector('.trigger-headline'),
				segmenter = new Segmenter(document.querySelector('.segmenter'), {
					pieces: 4,
					animation: {
						duration: 1500,
						easing: 'easeInOutQuad',
						delay: 100,
						translateZ: 25
					},
					parallax: false,
					positions: [
						{top: 0, left: 0, width: 40, height: 40},
						{top: 60, left: 0, width: 40, height: 40},
						{top: 0, left: 60, width: 40, height: 40},
						{top: 60, left: 60, width: 40, height: 40}
					],
					onReady: function() {
						segmenter.animate();
						headline.classList.remove('trigger-headline--hidden');
					}
				});
		})();
		</script>
	</body>
</html>
