<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Eric Chan</title>
<link href="https://fonts.googleapis.com/css?family=Oswald|Poppins:300,400,600,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/foundation.css" />
<link rel="stylesheet" type="text/css" href="css/normalize.css" />
<link rel="stylesheet" type="text/css" href="css/article-page.css" />
<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
</head>

<body>
<div class="fullWidth feature featured-image dispatch">
  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area large-12 medium-12 small-12 columns">
        <li class="large-11 medium-11 small-8 columns name">
          <a href=""><h1 class="small-font wide-spacing caps whiteout">Eric Chan</h1></a>
          <!-- <a href=""><h2 class="standard-spacing standard-font whiteout occupation">Design Engineer & System Thinker</h2></a> -->
        </li>
      </ul>
    </nav>
	</div>
	<div class="fullWidth feature ">
		<div class="large-12 medium-12 small-12 columns main-title-wrapper">
    	<h2 class="main-project-title caps white-text">Dispatch</h2>
    	<p class="main-project-subtitle caps white-text">Giving a box agency</p>
    </div>
	</div>
</div>
<div class="fullWidth">
  <div class="row">
    <div class="large-12 medium-12 small-12 columns list-wrapper">
      <div class="large-4 medium-4 small-12 columns list-section">
	      <h2 class="large-font list-title">Team</h2>
	      <p class="listing"><span class="small-font wide-spacing caps bold list-subtitle">VD</span> Eric Chan</p>
	      <p class="listing"><span class="small-font wide-spacing caps bold list-subtitle">VD</span> Adam Lukasic</p>
	      <p class="listing"><span class="small-font wide-spacing caps bold list-subtitle">VD</span> Andrea </p>
      </div>
      <div class="large-4 medium-4 small-12 columns list-section">
	      <h2 class="large-font list-title">Client</h2>
	      <p class="listing"><span class="small-font wide-spacing caps bold list-subtitle">FIN</span> Citi Ventures</p>
	      <p class="listing"><span class="small-font wide-spacing caps bold list-subtitle">FIN</span> Fidelity</p>
	      <p class="listing"><span class="small-font wide-spacing caps bold list-subtitle">FIN</span> Liberty Mutual</p>
	      <p class="listing"><span class="small-font wide-spacing caps bold list-subtitle">FIN</span> Nasdaq</p>
      </div>
      <div class="large-4 medium-4 small-12 columns list-section">
	      <h2 class="large-font list-title">Company</h2>
	      <p class="listing">IDEO CoLab</p>
      </div>
    </div>
	</div>

   <!--starting page content -->
   <div class="row">
		 <div class="large-12 medium-12 small-12 columns">
			 <div class="large-12 medium-12 small-12 text-block">
				 <h2 class="large-font text-header">The BIG QUESTION</h2>
				 <p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis posuere lobortis. Phasellus ac quam tincidunt, ultrices ante vitae,
           gravida dui. Mauris elit arcu, vehicula id egestas quis, faucibus in est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
           Aliquam tincidunt est quis arcu venenatis euismod. Suspendisse finibus vel metus et sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
           cubilia Curae; Sed felis leo, vehicula vel condimentum quis, pulvinar sed ante. Sed sed porta magna. Nulla facilisi.
				 </p>
			 </div>
			 <div class="large-12 medium-12 small-12 columns image-block">
				 <div class="row image-big">
					 <img src="img/grid/passion.jpg"/>
				 </div>
			 </div>
			 <div class="large-12 medium-12 small-12 text-block">
				 <h2 class="large-font text-header">THE BRAIN STORMS</h2>
				 <p class="copy">Nam eget felis consectetur, congue enim sed, accumsan tortor. Proin eleifend tortor eu tortor vulputate, facilisis ornare orci faucibus. Mauris ut lacus purus. Duis ac porttitor sapien, eu efficitur odio. Donec rhoncus ut metus non porttitor. Duis luctus turpis porta nisi </p>
				 <br/>
				 <p class="copy">interdum, ut efficitur sem pulvinar. Maecenas posuere mi porta, egestas arcu in, convallis ex. Fusce rutrum purus et nunc vulputate bibendum. Sed molestie blandit ex, vehicula sodales magna varius id. Mauris tincidunt nunc ut velit laoreet tempus. Donec cursus condimentum hendrerit. Sed nec nibh molestie, malesuada diam a, efficitur nulla. Morbi id enim eget ex viverra dapibus eget non mauris. </p>
			 </div>
			 <div class="large-12 medium-12 small-12 columns image-block">
				 <div class="row image-big">
					 <img src="img/grid/passion.jpg"/>
				 </div>
				 <div class="row image-big">
					 <img src="img/grid/passion.jpg"/>
				 </div>
			 </div>
			 <div class="large-12 medium-12 small-12 text-block">
				 <h2 class="large-font text-header">THE PROTOTYPES</h2>
				 <p class="copy">Maecenas mattis dui purus, et aliquam justo varius sed. Pellentesque aliquam, dolor in tempor egestas, risus massa consequat dui, sed tristique ante libero vel ex. Nullam mattis dui nec euismod rhoncus. Phasellus efficitur convallis nulla finibus pellentesque. Donec auctor dui a venenatis elementum. Aliquam neque neque, vehicula quis tellus sed, dignissim lobortis dui. Vivamus dignissim eleifend odio. </p>
			 </div>
			 <div class="large-12 medium-12 small-12 columns image-block">
				 <div class="row image-big">
					 <img src="img/grid/passion.jpg"/>
				 </div>
			 </div>
			 <div class="large-12 medium-12 small-12 text-block">
				 <h2 class="large-font text-header">THE INSIGHTS</h2>
				 <p class="copy">Ut in dolor commodo, ullamcorper nunc ut, fringilla odio. Nam volutpat, eros sit amet pulvinar iaculis, ligula eros cursus eros, vitae ultrices arcu dui ut erat. Nunc sapien massa, euismod at malesuada quis, molestie efficitur justo. Maecenas vehicula nisl purus, ac porttitor ligula porta sit amet.
				 </p>
			 </div>
			 <div class="large-12 medium-12 small-12 columns image-block">
				 <div class="row image-big">
					 <img src="img/grid/passion.jpg"/>
				 </div>
			 </div>
			 <div class="large-12 medium-12 small-12 text-block">
				 <h2 class="large-font text-header">THE DELIVERABLES</h2>
				 <p class="copy"> Cras finibus libero est, id facilisis tellus molestie eget. Maecenas fermentum erat eget elementum posuere. Integer in scelerisque leo. Morbi ultrices bibendum sapien, eget laoreet dolor rutrum vitae. Nunc sed fermentum metus, sed viverra magna. Morbi vel elementum justo.
				 </p>
			 </div>
		 </div>
	 </div>
 </div>
<!-- END PAGE CONTENT -->
<div class="fullWidth contact-grid">
  <h2 class="large-font text-header centered-text footer-title">Envision other futures with me</h2>
  <div class="fullWidth article-grid-container">
    <ul class="article-grid">
      <li><h2>Lonely Rider</h2></li>
      <li><h2>Daisy, do you remember?</h2></li>
      <li><h2>How long do we have to wait</h2></li>
      <li><h2>Little children</h2></li>
      <li><h2>I will meet my creators</h2></li>
      <li><h2>About happiness</h2></li>
    </ul>
  </div>
  <section class="contact-footer">
    <h2>You can also find me here:</h2>
    <a href="https://github.com/The-Chanman"> <i class="fa fa-github-alt fa-2x"></i></a>
    <a href="https://medium.com/@Chanman"> <i class="fa fa-medium fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/ericchanman/"> <i class="fa fa-linkedin fa-2x"></i></a>
    <a href="https://www.instagram.com/erirrows/"> <i class="fa fa-instagram fa-2x"></i></a>
    <a href="https://twitter.com/Erirrows"> <i class="fa fa-twitter fa-2x"></i></a>
    <a href="https://facebook.com/eric.chan.5439"> <i class="fa fa-facebook fa-2x"></i></a>
    <a href="https://keybase.io/ericchan"> <i class="fa fa-key fa-2x"></i></a>
  </section>
</div>

<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
<script src="js/compressed.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $(document).foundation();
  })
</script>
<script>
  new WOW().init();
</script>
<script>
  smoothScroll.init();
</script>
</body>
